/* Write your CSS here */
.alert-container {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .alert-container {
    width: 100%;
  }
}

.alert-type-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
